/*
# RMIT University Vietnam
# Course: COSC2769 - Full Stack Development
# Semester: 2025B
# Assessment: Assignment 02
# Author: Tráº§n Phan Anh Khoa
# ID: s4136776
*/
:root {
	--my-nav-height: 60px;
}

.layout__nav {
	height: var(--my-nav-height);

	background-color: var(--bs-primary);
	.navbar-brand {
		color: var(--bs-white);
	}

	.navbar-toggler {
		border-color: var(--bs-gray-200);
	}

	&:not(:has(.offcanvas)) {
		.nav-link {
			color: var(--bs-gray-400);

			&:hover:not(.active) {
				color: var(--bs-gray-200);
			}
			
			&.active {
				color: var(--bs-white);
			}
		}
	}

	&:has(.offcanvas) {
		.nav-link {
			color: var(--bs-gray-500);

			&:hover:not(.active) {
				color: var(--bs-gray-700);
			}
			
			&.active {
				color: var(--bs-black);
			}
		}
	}
}

.layout__main {
	--my-main-height: calc(100vh - var(--my-nav-height));
	height: var(--my-main-height);
}
